<br><hr>
<footer class="text-center text-lg-start bg-light text-muted">     
    <br>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>MI VETERINARIA
            </h6>
            <p>
                Ofrecer bienestar tanto animal, como a las familias de nuestros pacientes a través de la prestación de servicios médicos veterinarios y complementarios, entregando calidad y satisfacción, superando las expectativas de nuestros clientes, contribuyendo a la innovación y desarrollo profesional del sector Médico Veterinario de la Región.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    
            <h6 class="text-uppercase fw-bold mb-4">
              Servicios
            </h6>
            <p>
              <a>Medicamentos y Vacunas.</a>
            </p>
            <p>
              <a>Venta de productos.</a>
            </p>
            <p>
              <a>Bañado de animales.</a>
            </p>
            <p>
              <a>Orientación sobre animales.</a>
            </p>
          </div>
    
  
    
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        
            <h6 class="text-uppercase fw-bold mb-4">
              Consulta sobre...
            </h6>
            <p>
              <a href="https://purina.com.co/purina/perros/tips-para-saber-como-educar-a-un-perro-cachorro?gclid=EAIaIQobChMIoZbQ9LeT_gIVBNKGCh0Qew4aEAAYAiAAEgI2ifD_BwE&gclsrc=aw.ds" target="_blank" class="text-reset">Educar a mi mascota.</a>
            </p>
            <p>
              <a href="https://www.paho.org/es/temas/zoonosis" target="_blank" class="text-reset">Enfermedades.</a>
            </p>
            <p>
              <a href="https://libroveolibroleo.com/mejores-libros-animales/" target="_blank" class="text-reset">Libros.</a>
            </p>
            <p>
              <a href="https://www.fundacionaquae.org/wiki/consejos-para-proteger-a-los-animales/" target="_blank" class="text-reset">Protección Animal.</a>
            </p>
          </div>
    
  
    
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    
            <h6 class="text-uppercase fw-bold mb-4">Contáctanos</h6>
            <p><i class="fas fa-home me-3"></i> Barranquilla, Atlántico, CO</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              miveterinaria@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +57 3013357664</p>
            <p><i class="fas fa-print me-3"></i> +57 3005248564</p>
          </div>
    
        </div>

      </div>
    </section>
  
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold text-decoration-none">José Olascuaga, Luis Rodriguez, Kelvis Ariza, William Álvarez.</a>
    </div>
  </footer>