<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active imgnormalizada">
        <img src="./assets/img/vet1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: rgb(0, 0, 0);">“Respetar a los animales es una obligación, amarlos es un privilegio.”</h5>
        </div>
      </div>
      <div class="carousel-item imgnormalizada">
        <img src="./assets/img/vet2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: rgb(255, 255, 255);">"La medicina cura al ser humano, <h5 style="color: rgb(252, 0, 0);">la veterinaria cura a la humanidad".</h5></h5>
        </div>
      </div>
      <div class="carousel-item imgnormalizada">
        <img src="./assets/img/vet3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: rgb(255, 255, 255);">"Los buenos veterinarios hablan con los animales. Los grandes veterinarios los escuchan responder".</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



