<app-menu></app-menu>
<app-encabezado></app-encabezado><br>
<div class="container text-center">
    
      <hr>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Mison
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Nuestra misión es proporcionar información de calidad y actualizada sobre medicina general a través de nuestra página web, con el objetivo de promover la salud y el bienestar de las personas.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Vision
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Nuestra visión es convertirnos en una plataforma líder en el ámbito de la medicina general, reconocida por nuestra calidad y rigurosidad en la información que proporcionamos, así como por nuestra capacidad para conectar a pacientes con profesionales de la salud.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Objetivo
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Proporcionar información actualizada y precisa sobre temas de medicina general.
              Crear una comunidad de pacientes y profesionales de la salud para fomentar el intercambio de conocimientos y experiencias.
              Ofrecer herramientas útiles para ayudar a los pacientes a gestionar su salud y bienestar.
              Facilitar el acceso a profesionales de la salud a través de nuestra plataforma.
              Contribuir a mejorar la calidad de vida de las personas a través de la promoción de la salud y la prevención de enfermedades.
          </div>
        </div>
      </div>
</div>
<app-pie></app-pie>
  