<app-menu></app-menu>
<app-encabezado></app-encabezado><br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/or.jpg" class="card-img-top" width="100" height="287">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">"La compasión por los animales está íntimamente asociada con la bondad del carácter."</p>
              <a href="https://www.youtube.com/watch?v=LOqGn1cqg9k" target="_blank" class="btn btn-primary">¡Mira esto!</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/dog.jpg" class="card-img-top"  width="100" height="287" >
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">"Tener una mascota eleva los niveles de serotonina en el cuerpo, lo que genera una sensación de bienestar."</p>
              <a href="https://www.youtube.com/watch?v=Z0Q3xOPFXMM" target="_blank" class="btn btn-primary">Ahora, mira esto.</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/dog2.jpg" class="card-img-top"  width="100" height="287" >
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Adiestrar un perro ayuda a crear un vínculo más fuerte, haciendo que sufra menos estrés y ansiedad</p>
              <a href="https://www.youtube.com/watch?v=NIBEQiGA8VQ" target="_blank" class="btn btn-primary">Déjate sorprender con esto.</a>
            </div>
          </div>
      </div>
      </div>
      <hr>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              ¿Sabías qué...
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Los veterinarios tienen una importante intervención en la salud humana,</strong> pues son responsables de evitar que las enfermedades zoonóticas, aquellas que transmiten los animales al hombre, como la rabia, brucelosis, tuberculosis o fiebre manchada, se diseminen entre la población.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              ¿Sabías qué...
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Uno de los grandes impulsos de la Medicina Veterinaria</strong> es el incremento de los animales de compañía en los hogares de todo el mundo, siendo esta profesión, una necesidad fundamental para el cuidado y prevención en la salud de sus mascotas.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ¿Sabías qué...
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>La Ciencia Veterinaria </strong> ha revelado que aproximadamente el 61% de todos los agentes causantes de enfermedades en los seres humanos se originan a través de los animales.
          </div>
        </div>
      </div>
</div>
<app-pie></app-pie>
  