<app-menu></app-menu>
<app-encabezado></app-encabezado><br>



<div class="container text-center">
  <h1 class="display-4 mt-5 mb-3">Asistente Virtual</h1>
  <form (ngSubmit)="mensa()">
    <div class="form-group row">
      <label for="Id" class="col-md-3 col-form-label text-md-right">Chatea con nosotros</label>
      <div class="col-md-9">
        <input type="text" class="form-control" [(ngModel)]="mensaje" id="mensaje" name="mensaje"placeholder="Escribe tu mensaje..." />
      </div>
    </div>
  
 
  <button type="submit" class="btn btn-primary mx-auto mt-3 ml-5">Enviar</button>
  </form>
</div>

  
<app-pie></app-pie>