<app-menu></app-menu>
<app-encabezado></app-encabezado><br>

<div class="container text-center">
    <h1 class="display-4 mt-5 mb-3">Sentimiento y emociones</h1>
    <form (ngSubmit)="text()">
      <div class="form-group row">
        <label for="Id" class="col-md-3 col-form-label text-md-right">Digite el texto </label>
        <div class="col-md-9">
          <input type="text" [(ngModel)]="texto" class="form-control"  id="texto" name="texto">
        </div>
      </div>
    
   
    <button type="submit" class="btn btn-primary mx-auto mt-3 ml-5">Enviar</button>
    </form>
</div>


<app-pie></app-pie>